*
	margin 0
	padding 0
	list-style none
	text-decoration none
	// font-family 'Alegreya SC', serif
	font-family 'Roboto', sans-serif
	-webkit-box-sizing border-box // Safari/Chrome, other WebKit
	-moz-box-sizing border-box    // Firefox, other Gecko
	box-sizing border-box         // Opera/IE 8+
	position relative // lost veel frustraties op :-)

html, body
	width 100%
	height 100%
	font-size 16px

body
	background-color #000
	position relative
	color #FFF

a
	color inherit
	margin inherit

.link
	text-decoration underline
.link:hover
	text-decoration none

.fancybg
	width 100%
	height 100%
	position fixed
	top 0px
	left 0px
	z-index -1
	border none

.staticbg
	background-image url("/images/bg_christmas3_cropped.jpg")
	background-size cover
	background-position center
	width 100%
	height 100%
	position fixed
	top 0px
	left 0px
	z-index -1

.christmassy
	font-size 33px
	color #990000

.overlay
	width 100%
	margin-left auto
	margin-right auto
	color #fff
	font-size 20px
	text-align center
	overflow hidden

	.title
		font-size 45px
		font-weight normal
		margin 10px
		margin-top 25px
		line-height 40px

	.subtitle
		font-size 13px
		font-style italic

	.cardwrapper
		display inline-block
		max-width 100%

		img.christmascard, img.userchristmascard
			position absolute
			left 0
			top 0
			width 100%
			opacity 0.9

		.faketile
			position absolute
			left 0px
			top 0px
			cursor pointer
			display none // will be displayed after it's positioned in javascript

		.faketile.animate
			-webkit-transition all 1s ease-in
			-moz-transition all 1s ease-in
			transition all 1s ease-in

		img.userchristmascard
			-moz-opacity 0
			opacity 0
			-webkit-transition all 1s ease-in
			-moz-transition all 1s ease-in
			transition all 1s ease-in


		img.userchristmascard.visible
			-moz-opacity 1
			opacity 1
			cursor -moz-zoom-in
			cursor -webkit-zoom-in


	.button
		padding 20px
		width 104px
		height 104px
		display inline-block
		margin-top 20%
		-webkit-box-shadow inset 0 0 10px #a8c5ff, 0 0 20px rgb(50,50,50, 0.5)
		box-shadow inset 0 0 10px #a8c5ff, 0 0 20px rgb(50,50,50, 0.5)
		text-shadow 0 -1px rgba(0,0,0,0.5)
		border-color #34BFF3 rgba(0,0,0,0.05) #003C8B
		background #D8DFE2
		border-radius 15px
		font-size 16px
		cursor pointer

		img
			width 100%
			height 100%
			cursor pointer

		.fileinput
			height 100%
			width 100%
			position absolute
			left 0px
			right 0px
			opacity 0
			margin-top -20px // same as padding of button
			cursor pointer

	.button.left
		margin-right 115px

	#oldfashionupload
		display none
		padding 20px
		color #333333
		margin-top 20%
		-webkit-box-shadow inset 0 0 10px #a8c5ff, 0 0 20px rgb(50,50,50, 0.5)
		box-shadow inset 0 0 10px #a8c5ff, 0 0 20px rgb(50,50,50, 0.5)
		text-shadow 0 -1px rgba(0,0,0,0.5)
		border-color #34BFF3 rgba(0,0,0,0.05) #003C8B
		background #D8DFE2
		border-radius 15px
		font-size 16px
		width 50%
		margin-left auto
		margin-right auto

	.webcamwrapper
		display none
		position absolute
		top 0px
		left 0px
		width 100%
		height 100%
		text-align center
		.webcam
			display inline-block
			width 550px
			height 320px
			margin-top 50px
			margin-right auto
			margin-left auto
			padding 10px
			color #333333
			-webkit-box-shadow inset 0 0 10px #a8c5ff, 0 0 20px rgb(50,50,50, 0.5)
			box-shadow inset 0 0 10px #a8c5ff, 0 0 20px rgb(50,50,50, 0.5)
			text-shadow 0 -1px rgba(0,0,0,0.5)
			border-color #34BFF3 rgba(0,0,0,0.05) #003C8B
			background #D8DFE2
			border-radius 15px
			font-size 16px

			video
				width 100%
				height 100%

			.takepicture
				position absolute
				bottom 0px
				left 0px
				width 100%
				height 50px
				font-weight 400
				text-align center
				background #C30000
				color #F3F3F4
				font-size 23px
				line-height 50px
				width 100%
				cursor pointer

			canvas
				display none // a hidden canvas to take the picture on





// share buttons

#shareimage
	max-height 65%
	max-width 90%
	border 3px solid #fff
	border-radius 15px

.sharewrapper
	padding-left 1%
	padding-right 1%
	.share
		margin-left 10px
		background-color rgba(56, 49, 49, 0.78)
		width 652px
		max-width 100%
		border-radius 0px 0px 5px 5px
		margin-top -3px
		margin-left auto
		margin-right auto
		padding 2px
		padding-bottom 5px

		img
			max-width 15%

.highqualitylink
	font-weight 100
	padding-bottom 12px
	font-size 17px

.retry
	font-weight 100
	margin-top 20
	padding-bottom 12px
	font-size 17px

.webcamNotification
	background-color rgba(255, 255, 255, 0.5)
	border-radius 9px
	bottom -57px
	color #2E2E2E
	font-size 16px
	left -48px
	padding 2px
	position absolute
	width 196px
	display none

.chromeallowebcamarrow
	display none
	position absolute
	right 32px
	top 0px
	z-index 99
	opacity 0.5

.floating{
	-webkit-animation-name: Floatingx;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: Floating;
	-moz-animation-duration: 1.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;

}

@-webkit-keyframes Floatingx{
	from {-webkit-transform:translate(0, 0px);}
	65% {-webkit-transform:translate(0, 80px);}
	to {-webkit-transform: translate(0, -0px);}
}

@-moz-keyframes Floating{
	from {-moz-transform:translate(0, 0px);}
	65% {-moz-transform:translate(0, 80px);}
	to {-moz-transform: translate(0, -0px);}
}

.sharablecard
	max-width 100%

// on smartphones:

@media screen and (max-width: 768px)
	.overlay
		padding-left 10px
		padding-right 10px

		.title
			font-size 20px
			line-height 20px

		.subtitle
			font-size 9px

	.share
		img
			max-width 15%

