!!! 5
html
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= title
    meta(name='viewport', content='width=1024, maximum-scale=1, user-scalable=no')

    link(rel='stylesheet', type='text/css', href='/vendor/famous/famous.css')
    link(rel='stylesheet', type='text/css', href='/vendor/famous/app.css')
    script(type='text/javascript', src='/vendor/famous/classList.js')
    script(type='text/javascript', src='/vendor/famous/requestAnimationFrame.js')
    script(type='text/javascript', src='/vendor/famous/app.js')
    script(type='text/javascript', src='/javascripts/cam.js')
  body(style='')
    #main.container
    #overlay.container
