doctype html5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(href='http://fonts.googleapis.com/css?family=Alegreya+SC:400,700,400italic,700italic,900,900italic', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,100', rel='stylesheet', type='text/css')

		link(rel='stylesheet', href="/stylesheets/highquality.css")
		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script.
			window.userid = "#{userid}";
		script(type='text/javascript', src='/javascripts/highquality.js')


		include analytics


	body
		.onemoment
			img(src="/images/spinner.gif")
			| &nbsp;Even geduld, de hogekwaliteitsversie van je kerstkaart wordt aangemaakt...