!!! 5
html
	head
		//- meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(href='http://fonts.googleapis.com/css?family=Alegreya+SC:400,700,400italic,700italic,900,900italic', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,100', rel='stylesheet', type='text/css')

		link(rel='stylesheet', href="/stylesheets/style.css")
		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/javascripts/index.js')

		if(fancybg)
			script.
				if (!("WebKitCSSMatrix" in window)) window.location.pathname = "/simple";


	body
		if(fancybg)
			iframe.fancybg(src="/fancybg")
		else
			.staticbg

		.overlay
			.title
				strong MiX
				| &nbsp;je selfie in het Media Jaaroverzicht
			.subtitle Upload je foto en zie jezelf opgebouwd met de Media-hoogtepunten van 2013
			.imagecontainer
				img.exampleimage(src="/images/santamosaic.jpg")
			.buttons
				span.button.left
					img(src="/images/cam.png")
					//- input#fileinput.fileinput(type="file", name="files[]", accept="image/*")
				span.button.right
					img(src="/images/gallery.png")
					input#fileinput.fileinput(type="file", name="files[]", accept="image/*")
				#status


