!!! 5
html
    head
        //- meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
        title= title
        link(href='http://fonts.googleapis.com/css?family=Alegreya+SC:400,700,400italic,700italic,900,900italic', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href="/stylesheets/style.css")

        script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
        script(type='text/javascript', src='/javascripts/index.js')

    body
        if(fancybg)
            iframe.fancybg(src="/fancybg")
        else
            .staticbg

        .christmassy Merry Muffler and a Happy New Gear!

        //- <h3>
        //-     <strong>MiX</strong> jezelf in het Media Jaaroverzicht<br />
        //-     <span class="sub">Upload uw foto en zie jezelf opgebouwd met de Media-hoogtepunten van 2013</span>
        //- </h3>
        //- <div class="centralImg">
        //-     <video id="video"></video>

        //- <h3>
        //-     <strong>MiX</strong> jezelf in het Media Jaaroverzicht<br />
        //-     <span class="sub">Upload uw foto en zie jezelf opgebouwd met de Media-hoogtepunten van 2013</span>
        //- </h3>
        //- <src="images/martijn.jpg" height="200px" />

        //- <form method="POST" action="#">
        //-     <label class="camLabel">
        //-         <img src="images/cam.png" width="96px" /><span>
        //-         <input id="cameraBtn" type="file" name="files[]" accept="image/*" capture="camera"></span>
        //-     </label>
        //-     <input class="button" type="submit" value="Ik wil ook!" />
        //- </form>

        //- var ismobile=navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i);
        //- if(ismobile){
        //-     <form method="POST" action="#">
        //-         <label class="camLabel">
        //-             <img src="images/cam.png" width="96px" />Neem een Foto!
        //-             <span>
        //-                 <input id="cameraBtn" type="file" name="files[]" accept="image/*" >
        //-             </span>
        //-         </label>
        //-     </form>');
        //- }else{
        //-     <form method="POST" action="#">
        //-         <label class="camLabel" id="cam" onclick="setup()">
        //-             <img id="camBtnImg" src="images/webcam.png" width="96px" /> Activeer Webcam
        //-         </label>
        //-         &nbsp;&nbsp;&nbsp;
        //-         <label class="camLabel">
        //-             <img src="images/gallery.png" width="96px" />Selecteer een Foto!
        //-             <span>
        //-                 <input id="cameraBtn2" type="file" name="files[]" accept="image/*" >
        //-             </span>
        //-         </label>
        //-     </form>
        //- }


        input#files.btn.btn-primary(type="file", name="files[]", accept="image/*")
        #result
        br
        img#mosaicimage


