!!! 5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(href='http://fonts.googleapis.com/css?family=Alegreya+SC:400,700,400italic,700italic,900,900italic', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href="/stylesheets/style.css")

		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')

	body
		.christmassy Share Your MiX Kerstkaart 2013 cdef
		br
		img#shareimage(src="#{mosaicimage}")

		.share
			//-   GOOGLE PLUS
			a(href='https://plus.google.com/share?url=' + 'http://twitpic.com/dp6z65')
				img(src='/images/google-plus3.png')

			//- TWITTER
			a(href='http://twitter.com/home?status=%23iwasmixed%20' + ' http://twitpic.com/dp6z65 ')
				img(src='/images/twitter2.png')

			//-   FACEBOOK
			a(href='http://www.facebook.com/sharer/sharer.php?s=100&p[url]=' + 'http://twitpic.com/dp6z65' + '&p[images][0]=' + 'http://d3j5vwomefv46c.cloudfront.net/photos/large/828376205.jpg' + '&p[title]=http://twitpic.com/dp6z65')
				img(src='/images/facebook.png')

			//-   LINKEDIN
			a(href='http://www.linkedin.com/shareArticle?mini=true&url=' + 'http://twitpic.com/dp6z65' + '&title=Mix%20iMinds%20KerstKaart%202014&summary=&source=localhost:3000')
				img(src='/images/linkedin.png')

			//- PINTEREST
			<a href='javascript:void((function()%7Bvar%20e=document.createElement(&apos;script&apos;);e.setAttribute(&apos;type&apos;,&apos;text/javascript&apos;);e.setAttribute(&apos;charset&apos;,&apos;UTF-8&apos;);e.setAttribute(&apos;src&apos;,&apos;http://assets.pinterest.com/js/pinmarklet.js?r=&apos;+Math.random()*99999999);document.body.appendChild(e)%7D)());'>
			img(src='/images/pinterest2.png')

			p see no share icons? try to disable your ad or social blocker.

		.christmassy We wish you a merry christmas and a happy new year.





